{% extends 'base.html' %}

{% block content %}
<div class="container">
    
    <h2>Items</h2>
    <a href="{% url 'item_create' %}" class="btn btn-primary mb-3">Add New Item</a>
    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Back to Dashboard</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>In Stock</th>
                <th>Link</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.instock }}</td>
                <td>{{ item.link }}</td>
                <td>
                    <a href="{% url 'item_update' item.id %}" class="btn btn-warning">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
